.col-main {
    flex: 1;  
  }  
  
  .col-complementary {
    flex: 1;  
  }
  
  
  @media only screen and (min-width: 640px) {
    .layout {
      display: flex;
    }
  }
  
  
  #hustle-container {
    max-width: 60em;
    margin-right: auto;
    margin-left: auto;
  }
  
  .col {
    padding: 1em;
    margin-right: 30px;
    margin-left: 30px;
    background: white;
    color: black;
    border: solid 1px black;
    border-radius: 10px;
  }
  